# Aprendendo Pandas com dados do INMET

Notebook criado para aprender a utilizar o Pandas.
Os dados utilizados foram obtidos no site do Instituto Nacional de Meteorologia (INMET) (http://www.inmet.gov.br/portal/), no dia 14/04/2020.
Foi feito o download dos dados diários, da estação de Sorocaba, do dia 01/01/1961 até 30/03/2020.

Os dados serão utilizados para realizar uma análise exploratória, com o intuito de me familiarizar com o Pandas.

In [62]:
import pandas as pd

uri = "csv/inmet_diario_formatado.csv"
inmet = pd.read_csv(uri)

inmet.head(10)

,Estacao,Data,Hora,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media
0,83851,01/01/1961,0,NaN,30.0,14.1,NaN,NaN,23.12,79.50,1.333333
1,83851,02/01/1961,0,6.7,29.6,14.0,NaN,NaN,22.42,81.00,1.333333
2,83851,03/01/1961,0,28.7,31.1,13.9,NaN,NaN,22.82,84.25,1.000000
3,83851,04/01/1961,0,0.0,30.8,14.6,NaN,NaN,23.48,79.50,1.000000
4,83851,05/01/1961,0,0.0,29.3,13.7,NaN,NaN,22.86,79.25,1.000000
5,83851,06/01/1961,0,0.0,29.8,13.5,NaN,NaN,23.10,81.50,1.666667
6,83851,07/01/1961,0,10.7,34.4,14.4,NaN,NaN,24.00,77.75,1.000000
7,83851,08/01/1961,0,0.0,29.2,13.8,NaN,NaN,23.08,77.25,1.000000
8,83851,09/01/1961,0,0.0,29.1,17.7,NaN,NaN,24.84,75.00,0.666667
9,83851,10/01/1961,0,0.0,30.3,18.3,NaN,NaN,25.52,74.00,1.000000

# Análise exploratória
Algumas informações simples que podem ser obtidas através dos dados através do método "describe()".

In [63]:
inmet.describe()

,Estacao,Hora,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media
count,13576.0,13576.000000,13552.000000,13534.000000,13523.000000,11737.000000,12692.000000,13390.000000,13457.000000,12331.000000
mean,83851.0,0.795522,3.609128,27.489523,16.257007,5.993431,3.434526,21.050935,74.280839,1.350975
std,0.0,30.887914,9.908571,3.961121,3.573892,3.444823,1.564464,3.337599,9.656640,0.892404
min,83851.0,0.000000,0.000000,10.700000,1.000000,0.000000,0.000000,7.680000,31.500000,0.000000
25%,83851.0,0.000000,0.000000,25.100000,13.700000,3.000000,2.400000,18.840000,68.750000,0.666667
50%,83851.0,0.000000,0.000000,27.800000,16.500000,6.900000,3.300000,21.420000,74.500000,1.033333
75%,83851.0,0.000000,1.000000,30.400000,19.200000,8.900000,4.300000,23.520000,80.000000,1.866667
max,83851.0,1200.000000,164.400000,38.600000,25.100000,12.800000,13.900000,29.740000,99.000000,5.566667

## Temperatura
Trabalhando somente com dados de temperatura.

In [64]:
# Criando dataframe só com as colunas data, maxima e minima
temperatura = pd.DataFrame(data={'data': inmet.Data, 'maxima': inmet.TempMaxima, 'minima': inmet.TempMinima})
temperatura.head()

         data  maxima  minima
0  01/01/1961    30.0    14.1
1  02/01/1961    29.6    14.0
2  03/01/1961    31.1    13.9
3  04/01/1961    30.8    14.6
4  05/01/1961    29.3    13.7

## Dados de Temperatura Máxima

In [65]:
# Dados da maior Temperatura Máxima
maior_maxima = temperatura.query("maxima == @temperatura.maxima.max()")
maior_maxima

           data  maxima  minima
391  26/02/1962    38.6    15.6

In [66]:
# Dados da menor temperatura máxima
menor_maxima = temperatura.query("maxima == @temperatura.maxima.min()")
menor_maxima

             data  maxima  minima
11365  24/07/2013    10.7     7.2

In [67]:
# Média de Temperatura Máxima
media_maxima = temperatura.maxima.mean().round(2)
media_maxima

27.49

## Dados de Temperatura Mínima

In [68]:
# Dados da maior Temperatura Mínima
maior_minima = temperatura.query("minima == @temperatura.minima.max()")
maior_minima

             data  maxima  minima
11561  05/02/2014    37.2    25.1

In [69]:
# Dados da menor Temperatura Mínima
menor_minima = temperatura.query("minima == @temperatura.minima.min()")
menor_minima

            data  maxima  minima
5445  29/07/1990    18.8     1.0
6645  17/07/2000    15.6     1.0

In [70]:
# Média de Temperatura Mínima
media_minima = temperatura.minima.mean().round(2)
media_minima

16.26

## Dias que não possuem dados de alguma temperatura

In [71]:
# Dias que não possuem dados de temperatura máxima
dias_sem_maxima = temperatura.query("@temperatura.maxima.isnull()")
dias_sem_maxima.head()

            data  maxima  minima
5253  18/01/1990     NaN    22.1
5276  10/02/1990     NaN    21.2
5908  07/07/1998     NaN    10.5
6002  09/10/1998     NaN     NaN
6095  10/01/1999     NaN     NaN

In [72]:
# Dias que não possuem dados de temperatura mínima
dias_sem_minima = temperatura.query("@temperatura.minima.isnull()")
dias_sem_minima.head()

            data  maxima  minima
3317  30/09/1984    24.0     NaN
4902  01/02/1989    33.2     NaN
5331  06/04/1990    33.0     NaN
5337  12/04/1990    29.2     NaN
5720  30/04/1991    25.8     NaN

In [73]:
# Dias que não possuem dados de temperatura
dias_sem_temperatura = temperatura.query("@temperatura.maxima.isnull() and @temperatura.minima.isnull()")
dias_sem_temperatura

             data  maxima  minima
6002   09/10/1998     NaN     NaN
6095   10/01/1999     NaN     NaN
7551   13/02/2003     NaN     NaN
12086  21/08/2015     NaN     NaN
12087  22/08/2015     NaN     NaN
12088  23/08/2015     NaN     NaN
12450  11/09/2016     NaN     NaN
12451  12/09/2016     NaN     NaN
12693  10/06/2017     NaN     NaN
13355  13/07/2019     NaN     NaN
13356  14/07/2019     NaN     NaN