# Criando modelos de Machine Learning com dados do INMET

Notebook criado para dar continuidade ao trabalho com os dados do INMET.
Após feita a análise exploratória, tentarei criar modelos de Machine Learning utilizando a biblioteca scikit.
(https://scikit-learn.org/stable/)  

Esses modelos serão criados com o intuito de tentar realizar previsões das temperaturas máximas e mínimas.  
Os mesmos serão analisados e o que tiver a menor taxa de erro será escolhido para ser utilizado.

Aqui irei utilizar o último DataFrame criado durante a fase de Análise Exploratória: temperatura_data_separada, que foi salvo no arquivo "temperatura_data_separada.csv".

In [30]:
import pandas as pd

dados = pd.read_csv("notebooks/csv/temperatura_data_separada.csv")
dados.head()

         data  maxima  minima estacao   ano  mes  dia_do_mes  dia_do_ano
0  1961-01-01    30.0    14.1   verao  1961    1           1           1
1  1961-01-02    29.6    14.0   verao  1961    1           2           2
2  1961-01-03    31.1    13.9   verao  1961    1           3           3
3  1961-01-04    30.8    14.6   verao  1961    1           4           4
4  1961-01-05    29.3    13.7   verao  1961    1           5           5